package components

import "strconv"

templ HashMapTable(hashMap map[int]int) {
	<table id="table-container">
		<tr>
			<th>Value</th>
			<th>Index</th>
		</tr>
		for value, index := range hashMap {
			<tr>
				<td>{ strconv.Itoa(value) }</td>
				<td>{ strconv.Itoa(index) }</td>
			</tr>
		}
	</table>
}
